* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  
  color: whitesmoke;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.back-ground {
  position: relative;
  height: 100%;
  width: 100%;
}

.back-ground img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.heading {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  z-index: 2;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.logo {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translateX(-50%);
  z-index: 3;
}
#section1 {
  transform-origin: center center;
  animation: kenBurns 10s ease-in-out infinite alternate;
}

@keyframes kenBurns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.logo img {
  width: 650px;
  height: auto;
}
.logo-1,.menu{
  margin: 25px 40px;
}
nav{
  width: 99%;
  position: absolute;
  top:0;
  right: 10px;
  left:10px;
  display:flex;
  justify-content: space-between;
  font-size:1.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
nav ul{
  display:inline-block;
  font-size:1.5rem;
  padding: 25px 0px;
  width: 0px;
  background-color: #ef629f;
  position: absolute;
  top:-25px;
  right: -100px;
  height: 100vh;
  z-index: 0;
  
}

.menu {
  cursor: pointer;
  position: absolute;
  right: 35px;
  top: 0;
}

.menu h1 {
  transition: transform 0.3s ease-in-out; /* Smooth scaling effect */
}

.menu h1:hover {
  transform: scale(1.2); /* Slightly enlarges the element on hover */
}
nav ul li{
  margin-left:45px;
  text-decoration: none;
  list-style-type:none;
  cursor:pointer;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  padding: 25px 0px;

}
.register{
  background-color: black;
  color: whitesmoke;
  width: 150px;
  height: 40px;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.register:hover {
  background-color: #ff5eaa;
  color: black;
}
#section{
  position: absolute;
  bottom: -3px;
  z-index: 5;
  height: 237px;
  width: 100%;
}

@media (max-width:768px) {
  .container{
    width: 100%;
  
  }
  .back-ground img{
    width:100%;
    height: 500px;
    object-fit: cover;
  }
  nav{
    margin: 15px 10px;
    padding:2px 4px;
  }
  nav ul{
    display: none;
  }
  .heading{
    font-size: 4rem;
  }
  
  .logo {
    position: absolute;
    top: 28%;
    left: 18%;
    transform: translateX(-50%);
    z-index: 3;
  }
  .logo img{
    width: 250px;
    height: 250px;
  }
  #section{
    position: absolute;
    bottom: -20px;
    height: auto;
  }
}
